<div id="heading"><span class="style1"><font><%= "#{user.first_name} #{user.last_name}" %></font></span>&nbsp;&nbsp;<%= image_tag("arrow.png")%>&nbsp;
    <span class="style1"><font>Edit Profile</font></span>
    
  </div>